.learnAppHeader {
	padding: 10px 2%;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #c4c4c4;
	align-items: center;
	h1 {
		font-family: Roboto Mono;
		font-size: 1.3rem;
	}

	a:visited {
		color: black;
	}

	@media (max-width: 720px) {
		h1 {
			font-size: 1.15rem;
			display: none;
		}
	}
	@media (max-width: 480px) {
		h1 {
			display: none;
			font-size: 0.9rem;
		}
	}
}

.learnAppStats {
	padding: 10px 2%;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #c4c4c4;
	align-items: center;
	background-color: #ffca32;
	h1 {
		font-family: Roboto Mono;
		font-size: 1.3rem;
	}

	@media (max-width: 720px) {
		h1 {
			font-size: 1.15rem;
			display: none;
		}
	}
	@media (max-width: 480px) {
		h1 {
			display: none;
			font-size: 0.9rem;
		}
	}
}

.learnArrow {
	width: 45px;
	height: 45px;
	@media (max-width: 720px) {
		height: 30px;
		width: 44px;
	}
}

.learnLogo {
	max-width: 200px;
	width: 100%;
	margin-left: 65px;
	@media (max-width: 720px) {
		margin-left: 20px;
	}
	@media (max-width: 480px) {
		width: 125px;
	}
}

.learnAppMain {
	width: 100%;
	height: 100%;
	background-color: #ffca32;
	overflow: hidden;
	p {
		display: block;
	}
}

.userBox {
	max-width: 125px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
	.expandMore {
		height: 22px;
		width: 22px;
	}
	.expandMore:hover {
		cursor: pointer;
		color: rgb(117, 8, 8);
	}

	@media (max-width: 720px) {
		max-width: 50px;
	}

	@media (max-width: 480px) {
		max-width: 50px;
	}
}

.expanded-on {
	display: flex;
	align-items: center;

	justify-content: space-around;
	width: 220px;
	right: 0;
	height: 80px;
	background-color: white;
	position: absolute;
	border: 2px solid #c4c4c4;
	margin-top: -3px;
	h1 {
		font-family: Roboto Mono;
		font-size: 1.2rem;
	}
	.powerOff {
		color: rgb(0, 0, 0);
	}
	cursor: pointer;
	&:focus {
		background-color: green;
	}
	&:hover {
		background-color: var(--lnSalmon);
		color: white;
	}
}

.expanded-off {
	display: none;
}

.learnApp-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
